<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset Your Password</title>
  </head>
  <body>
    <h2>Password Reset Request</h2>

    <p>Hello {{.Name}},</p>

    <p>We received a request to reset the password for your account.</p>

    <p>Please use the following One-Time Password (OTP) to continue:</p>

    <h3>{{.OTP}}</h3>

    <p>
      This OTP will expire in <strong>{{.Expiry}} minutes</strong>. For your
      security, do not share this code with anyone.
    </p>

    <p>
      If you did not request a password reset, you can safely ignore this email.
      Your password will remain unchanged.
    </p>

    <p>
      Regards,<br />
      simple-lms-project Team
    </p>
  </body>
</html>
