<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Verify Your Email</title>
  </head>
  <body>
    <h2>Email Verification</h2>

    <p>Hello {{.Name}},</p>

    <p>
      Thank you for registering. Use the One-Time Password (OTP) below to verify
      your email address.
    </p>

    <h3>{{.OTP}}</h3>

    <p>
      This OTP will expire in <strong>{{.Expiry}} minutes</strong>. Please do
      not share this code with anyone.
    </p>

    <p>If you did not create an account, you can safely ignore this email.</p>

    <p>
      Regards,<br />
      simple-lms-project Team
    </p>
  </body>
</html>
